body {
    overflow-x: hidden;
}

.my-subjects-container {
    height: calc(60vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.my-subject {
    height: 90%;
    width: 32%;
    background-color: rgb(0 0 0 / 15%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.sub-name {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject {
    max-height: 77%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-left: 1%;
    margin-bottom: auto;
}

.subject::-webkit-scrollbar {
    display: none;
}

.my-card {
    font-size: 10px;
    height: 50px;
    width: 31%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Adds the shadow */
}

.buttons-container {
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.all-chapters-container {
    height: calc(68vh - 80px);
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
}

.all-chapters {
    max-height: 85%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-bottom: auto;
    padding: 0px 0.5%;
}

.all-chapters::-webkit-scrollbar {
    display: none;
}

.card {
    margin: 0.5%;
    font-size: 14px;
    height: 80px;
    width: 19%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Adds the shadow */
}

.all-chapters-button-container {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    background-color: #6bbcdf;
}

.c {
    background-color: #e0a0a0;
}

.b {
    background-color: #7dd370;
}

.s2-add {
    background-color: #00ffc4;
}

.s2-remove {
    background-color: #00ffc4;
}

.add-button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 0px 40px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.add-button:active {
    transform: scale(0.95);
}

.r-btn {
    background-color: rgb(255, 0, 0);
    padding: 0px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.r-btn:active {
    transform: scale(0.95);
}

.a-btn {
    background-color: green;
    padding: 0px 15px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.a-btn:active {
    transform: scale(0.95);
}
